<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="crn" th:attr="content=${token}" />
    <link th:href="@{/assets/css/vuetify.min.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/css/training.css}">
    <link th:rel="icon" type="image/x-icon" th:href="@{/images/faviconpac.png}">
    <title>My Learning</title>
</head>
<body>
  <div id="app" class="parent">
      <t-home />
  </div>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
      <script th:src="@{/assets/js/vue.js}"></script>
      <script th:src="@{/assets/js/vuetify.js}"></script>
    <script th:src="@{/assets/js/axios.min.js}"></script>
    <script th:src="@{/assets/js/moment.min.js}"></script>
    <script th:src="@{/assets/js/vee-validate.js}"></script>
    <script th:src="@{/assets/js/httpVueLoader.js}"></script>
    <!-- router import
    <script th:src="@{/assets/js/vuetify.js}"></script>-->
    <script th:src="@{/assets/js/babel.min.js}"></script>
    <script th:src="@{/components/widgets/pagination.vue.js}"></script>
    <script th:src="@{/components/widgets/card.vue.js}"></script>
    <script th:src="@{/components/widgets/combobox.vue.js}"></script>
    <script th:src="@{/components/widgets/input.vue.js}"></script>
    <script th:src="@{/components/widgets/checkbox.vue.js}"></script>
    <script th:src="@{/components/dialogfooter.vue.js}"></script>
    <script th:src="@{/components/dialogtable.vue.js}"></script>
    <script th:src="@{/components/dialogform.vue.js}"></script>
    <script th:src="@{/components/dialog.vue.js}"></script>
    <script th:src="@{/components/mylearning/mylearningdialog.vue.js}"></script>
    <script th:src="@{/components/mylearning/sessionbody.vue.js}"></script>
    <script th:src="@{/components/mylearning/sessionheader.vue.js}"></script>
    <script th:src="@{/components/mylearning/sessions.vue.js}"></script>
    <script th:src="@{/components/mylearning/mylearning.vue.js}"></script>
    <script th:src="@{/components/widgets/buttonSelect.vue.js}"></script>
    <script th:src="@{/components/widgets/onetomany.vue.js}"></script>
    <script th:src="@{/components/widgets/manytomany.vue.js}"></script>
    <script th:src="@{/components/widgets/manytoone.vue.js}"></script>
    <script th:src="@{/components/header.vue.js}"></script>
    <script th:src="@{/components/verticalmenu.vue.js}"></script>
    <script th:src="@{/components/home.vue.js}"></script>
    <script th:src="@{/components/listheader.vue.js}"></script>
    <script th:src="@{/components/listtable.vue.js}"></script>
    <script th:src="@{/components/listpanel.vue.js}"></script>
    <script th:src="@{/components/formheader.vue.js}"></script>
    <script th:src="@{/components/formpanelbody.vue.js}"></script>
    <script th:src="@{/components/formpanel.vue.js}"></script>
      <script type="text/babel">
           var app = new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                data: {
                   name : "POPOPOPOP"
                }, methods : {
                    getMeta(metaName) {
                        const metas = document.getElementsByTagName('meta');
                        for (let i = 0; i < metas.length; i++) {
                          if (metas[i].getAttribute('name') === metaName) {
                            return metas[i].getAttribute('content');
                          }
                        }

                        return '';
                    }
                }, created() {
                     axios.defaults.headers.common['Authorization'] = "Bearer ".concat(this.getMeta("crn"));
                }
            });
      </script>
</body>
</html>