html,body
{
   height : 100% ;
   margin: 0;
}

.parent {
   display: flex;
   flex-flow: column;
   height:100%;
}
.parent .header {
    flex: 1 1 auto;
}

.parent .container {
    flex: 1 1 auto;
}

.container
{
   max-width: inherit ;
   display: flex ;
   flex-flow: row unwrap;
   justify-content : flex-start;
   align-items: stretch;
   padding: 1px;
   border: 1px groove ;
}

.editor
{
 flex-grow: 1;
 margin-left: 0 ;
 overflow: auto ;
}
.menu
{
  border: 1px groove;
}
.toolbar
{
  border:groove;
}
.actionsbar
{
   display:flex;
   align-items: flex-start;
}
.nav-padding {
    padding: 0px;
}
.border-botton-zero {
    border-botton : 0 ;
}
.margin-left-auto {
    margin-left : auto;
 }
 .width-350 {
    width:350px;
 }
 .title-bar {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
 }
 .manytoone-box {
    display: flex;
    flex-flow: row;
 }
 .data-button {
     padding : 5px;
 }
 .nav-item-button-margin-rigth {
    margin: 5px;
 }
.title {
   font-size: .875rem;
   font-weight: 500;
   text-transform: uppercase;
   color: rgba(0,0,0,.54);
}
.card-container-width {
    width: 80%
}
.card-container {
	max-width: inherit ;
   display: flex ;
   flex-flow: row wrap;
   justify-content : flex-start;
   align-items: stretch;
}
.card-margin {
	margin: 10px
}